<app-nav></app-nav>
<div class="container">
    <h1 class="title">Proctor Instructions</h1>
    
    <p class="instructions">
        Before continuing to the task, a control panel will appear on the screen. This panel will allow you to control
        the parameters of the task, including number of trials and length of delay. Once these metrics are set, the "Start Task" button
        will appear. Click this button to begin the task.
    </p>
    <button mat-fab extended class="next" (click)="onClick()">
        <mat-icon>arrow_forward</mat-icon>Go To Controls
    </button>
