.trigram-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 5rem;
    font-weight: bold;
    color: #00006e;
    background: white;
    border-radius: 5px;
    padding: 5px;
    -moz-animation: inAndOut 2s ease-in forwards;
    -webkit-animation: inAndOut 2s ease-in forwards;
    animation: inAndOut 3s ease-in forwards;
  }

  .num-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .distractor{
      color:#00006e;
      font-size: 3rem;
      font-weight: bold;
      width: 10rem;
      height: 7rem;
      justify-content: center;
      background-color:#e0e0ff;
  }
}
  @keyframes inAndOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .title{
    text-align: center;
    margin-top: 3%;
}

.instructions{
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: justify;
    font-size: large;
    line-height: 1.5;
}

.next{
    margin-top: 3rem;
    margin-left: 45%;
    margin-right: 5rem;
    text-align: center;
}

.message{
    text-align: center;
    font-size: large;
    margin-top: 5%;
    font-style: italic;
}
.submit{
    margin-top: 1%;
    text-align: center;
}