
<h2 *ngIf="showTrigram" class="trigram-display">{{trigram}}</h2>
<div class="num-button">
    <button mat-flat-button class="distractor" *ngIf="showDist" (click)="swapQuantities(num1)">{{ num1 }}</button>
    <button mat-flat-button class="distractor" *ngIf="showDist" (click)="swapQuantities(num2)">{{ num2 }}</button>
</div>
<div class="keyboard">
    <div class="num-button">
        <button *ngIf="showKeys" (click)="recordResp('B')">B</button>
        <button *ngIf="showKeys" (click)="recordResp('C')">C</button>
        <button *ngIf="showKeys" (click)="recordResp('D')">D</button>
        <button *ngIf="showKeys" (click)="recordResp('F')">F</button>
        <button *ngIf="showKeys" (click)="recordResp('G')">G</button>
        <button *ngIf="showKeys" (click)="recordResp('H')">H</button>
        <button *ngIf="showKeys" (click)="recordResp('J')">J</button>
    </div>
    <div class="num-button">
        <button *ngIf="showKeys" (click)="recordResp('K')">K</button>
        <button *ngIf="showKeys" (click)="recordResp('L')">L</button>
        <button *ngIf="showKeys" (click)="recordResp('M')">M</button>
        <button *ngIf="showKeys" (click)="recordResp('N')">N</button>
        <button *ngIf="showKeys" (click)="recordResp('P')">P</button>
        <button *ngIf="showKeys" (click)="recordResp('Q')">Q</button>
    </div>
    <div class="num-button">
        <button *ngIf="showKeys" (click)="recordResp('R')">R</button>
        <button *ngIf="showKeys" (click)="recordResp('S')">S</button>
        <button *ngIf="showKeys" (click)="recordResp('T')">T</button>
        <button *ngIf="showKeys" (click)="recordResp('V')">V</button>
        <button *ngIf="showKeys" (click)="recordResp('W')">W</button>
        <button *ngIf="showKeys" (click)="recordResp('X')">X</button>
        <button *ngIf="showKeys" (click)="recordResp('Z')">Z</button>
    </div>
</div>
<div *ngIf="showExport">
    <button mat-fab extended class="next" (click)="exportData()">Submit</button>
</div>
<div class="container instructions" *ngIf="showInstr">
    <form [formGroup]="pInstrForm">
        <h1 class="title">Task Instructions</h1>
        Start each trial by clicking once on the 'Next' button. Three letters
        (called a trigram) will appear in the frame on the left. Study this trigram
        as you will be asked to recall it later. When the trigram disappears, you
        will see a series of number pairs.  Your task is to click on the even number in each pair.<br><br>
        After you have clicked on the even number you will either see another number pair or you will be prompted to recall the
        trigram. A set of letters will appear from which you can indicate your recollection of the trigram.
        Click on the appropriate letter buttons in the order of the trigram. For example, if the trigram were JFK, you
        would click the J button first, the F button second, and the K button last.<br><br>
        Continue through the task until you have completed all trials.
        <p class="message">There is no way to correct mistakes, so be careful!</p>
            <label for="partCode">Participant Code: </label>
            <input id="partCode" formControlName="participantCode"><br><br>
            <button mat-fab extended class="submit" (click)="onSubmit()" [disabled]="isDisabled()">Submit</button>
    </form>
</div>

