<app-nav></app-nav>
<div *ngIf="showInstructions" class="instructions">
    <form [formGroup]="controlForm">
        <div class="col-xs-12">
            <h1 class="title">Control Panel</h1>
            <label for="trialsQuant">Total Number of Trials:</label>
            <input id="trialsQuant" formControlName="trials"><br>

            <label for="disTaskOne">Distractor Task Quantity 1:</label>
            <input id="disTaskOne" formControlName="distractor"><br>

            <label for="diskTaskTwo">Distractor Task Quantity 2:</label>
            <input id="diskTaskTwo" formControlName="distractortwo"><br>

            <label for="diskTaskThree">Distractor Task Quantity 3:</label>
            <input id="diskTaskThree" formControlName="distractorthree"><br>
            
            <label for="numParticipants">Number of Participants: </label>
            <input id="numParticipants" formControlName="numPart">
            <br>
        </div>
    </form>
    <button mat-fab extended class="next" (click)="onSubmit()" [disabled]="isDisabled()">Submit</button>
</div>

<app-task *ngIf="showTask" [randDistOrder]="randDistOrder" [randTriOrder]="randTriOrder" [numPart]="numPart"></app-task>
