<app-nav></app-nav>
<div class="instructions">
    <form [formGroup]="controlForm">
        <div class="col-xs-12">
            <h1 class="title">Control Panel</h1>
            <label>Total Number of Trials:</label>
            <input formControlName="trials"><br>

            <label>Distractor Task Quantity 1:</label>
            <input formControlName="distractor"><br>

            <label>Distractor Task Quantity 2:</label>
            <input formControlName="distractortwo"><br>

            <label>Distractor Task Quantity 3:</label>
            <input formControlName="distractorthree"><br>
            
            <label>Number of Participants: </label>
            <input formControlName="numPart">
            <br>
        </div>
    </form>
    <button (click)="onSubmit()">Submit</button>
</div>