.title{
    text-align: center;
    margin-top: 5%;
}

.instructions{
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    font-size: large;
    word-spacing: 2%;
}

.next{
    margin-top: 3rem;
    margin-left: 45%;
    margin-right: 5rem;
    text-align: center;
}